@model List<Link>

@{
    ViewData["Title"] = "list of Short Link";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Url</th>
            <th>Short</th>
            <th>Clicks Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>@item.Url</td>
                <td>
                    <a href="@(Context.GetFullDomain()+"/s/"+@item.Short)" target="_blank">
                        @item.Short</a>
                </td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>